#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

input {
  font-size: 1.5em;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin: 1em;
  width: 100%;
  max-width: 20em;
}

button {
  font-size: 1.5em;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.list {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 2em;
  margin: 1em 0;
  flex: 1;
  text-align: left;
}

.App {
  text-align: center;
  padding: 20px;
}

.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.result {
  flex: 7;
  padding: 10px;
}

.summary {
  block-size: fit-content;
  flex: 3;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 10px;
  background-color: #f0f0f0;
}

.hide{
  display: none;
}
